# Ignore everything
*

# But not these files...
!.gitignore
!*.py
!chatbot_app/
!customerchatbot/
!chatbot_app/management/
!chatbot_app/management/commands/
!chatbot_app/migrations/
!chatbot_app/tests/
!requirements.txt
!README.md